<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Liste des hackathons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-select
      style="border-radius: 25px; background-color:#EEEEEE;font-family:Comic Sans MS;text-align:center; margin-bottom:10%; margin-top:10%; margin-left: 10%; margin-right: 10%;"
      placeholder="Choisir une ville" (ionChange)="onChange($event)">
      <ion-item *ngFor="let item of listville">
        <ion-select-option value="{{item}}">{{item}}</ion-select-option>
      </ion-item>
    </ion-select>

    <ion-item *ngFor="let item of ListHackathonAff" (click)="MonClick(item)">
      <ion-card style="box-shadow: 1px 1px 10px black;background-color:#EEEEEE; text-align: center; border-radius: 25px;">
        <br>
        <ion-card-title style="font-family:Comic Sans MS; font-weight: bold;">{{item.theme}}</ion-card-title><br>
        <img style="padding-left: 10%; padding-right: 10%;" src="{{item.image}}">
        <br><br>
        <ion-item style=" font-family:Comic Sans MS;">
          <li  style=" margin-left:5px;margin-right: 5px; margin-top:20px; margin-bottom: 20px; padding-right: 20px; border-radius: 20px; background-color:#EEEEEE;">
            <ul>Lieu : {{item.lieu}}</ul>
            <ul>Ville : {{item.ville}}</ul>
            <ul>Date de début : {{item.datedebut | date: 'dd/MM/yyyy'}} à {{item.heuredebut | date: 'hh:mm:ss'}}</ul>
            <ul>Nombre de places restante : {{item.nbplaces}}</ul>
          </li>
        </ion-item>
      </ion-card>
    </ion-item>
  </div>
</ion-content>