<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Liste des ateliers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-item *ngFor="let item of ListeAtelier" (click)="MonClick(item)">
      <ion-card
        style="text-align:center;box-shadow: 1px 1px 10px black;background-color:#EEEEEE; text-align: center; border-radius: 25px;">
        <br>
        <ion-card-title
          style="font-family:Arial;text-align:center; font-weight: bold; margin-right: 125px; margin-left: 125px;">
          {{item.libelle}}</ion-card-title><br>
        <ion-item style=" font-family:Arial;">
          <li>
            <ul
              style="font-weight: 5; margin-right: 5px; margin-top:20px; margin-bottom: 20px;  border-radius: 20px;">
              Date et heure de début : {{makeDate(item.dateheuredebut)}}</ul>
            <ul
              style="font-weight: 5; margin-right: 5px; margin-top:20px; margin-bottom: 20px;  border-radius: 20px;">
              Date et heure de fin : {{makeDate(item.dateheurefin)}}</ul>
            <ul style="font-weight: 5; margin-right: 5px; margin-top:20px; margin-bottom: 20px;  border-radius: 20px;">
              Nombre de place restantes : {{item.nbplacesinit}}</ul>
          </li>
        </ion-item>
      </ion-card>
    </ion-item>
  </div>
</ion-content>