<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-family: Comic Sans MS;">Connnexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>

    <ion-item lines="full">
      <ion-label style="font-family: Comic Sans MS;" position="floating">Adresse mail</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <span style="font-family: Comic Sans MS;" class="error ion-padding" *ngIf="submitted && errorCtr.email.errors?.required">
      Adresse mail requise
    </span>
    <span style="font-family: Comic Sans MS;" class="error ion-padding" *ngIf="submitted && errorCtr.email.errors?.pattern">
      Adresse mail incorrect
    </span>

    <ion-item lines="full">
      <ion-label style="font-family: Comic Sans MS;" position="floating">Mot de passe</ion-label>
      <ion-input formControlName="email" type="password"></ion-input>
    </ion-item>
    <span style="font-family: Comic Sans MS;" class="error ion-padding" *ngIf="submitted && errorCtr.email.errors?.required">
      Mot de passe requis
    </span>
    <span style="font-family: Comic Sans MS;" class="error ion-padding" *ngIf="submitted && errorCtr.email.errors?.pattern">
      Mot de passe incorrect
    </span>

    <ion-row>
      <ion-col>
        <ion-button style="margin-top: 10%; margin-left: 10%; margin-right: 10%;" type="submit" color="primary" expand="block">Se connecter</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>