<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-family: Comic Sans MS;">Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align:center;">
  <ion-card name="listeHackathon" style="box-shadow: 1px 1px 10px black;border-radius:20px;font-family: Comic Sans MS;text-align: center; margin-right: 10px;">
    <br>
    <ion-card-title style="font-weight: bold;">{{item.theme}}</ion-card-title><br>
    <img style="padding-left: 10%; padding-right: 10%;" src="{{item.image}}">
    <br><br>
    <ion-item style="font-family: Comic Sans MS;">
      <li>
        <ul>Lieu : {{item.lieu}}</ul>
        <ul>Rue : {{item.rue}}</ul>
        <ul>Ville : {{item.ville}}</ul>
        <ul>Code postal : {{item.cp}}</ul>
        <ul>Date de début : {{item.datedebut | date: 'dd/MM/yyyy'}} à {{item.heuredebut | date: 'hh:mm'}}</ul>
        <ul>Date limite d'inscription : {{item.datelimite | date: 'dd/MM/yyyy'}}</ul>
        <ul>Nombre de places restante : {{item.nbplaces}}</ul>
        <ul>Date de fin : {{item.datefin | date: 'dd/MM/yyyy'}} à {{item.heurefin | date: 'hh:mm'}}</ul>
        <ul><ion-button color="primary" (click)="MonClick(item)">S'inscrire au hackathon</ion-button></ul>
      </li>
    </ion-item>
  </ion-card>
</ion-content>